OWNER_NAME=山田 太郎
OWNER_FURIGANA=やまだ　たろう
OWNER_FILENAME=山田太郎
BIRTH_DATE=2000-01-01
GENDER=
ADDRESS_FURIGANA=とうきょうとちよだくまるのうち
POSTAL_CODE=000-0000
ADDRESS=東京都千代田区丸の内1-1-1
PHONE=000-0000-0000
SHOW_CONTACT=false
CONTACT_FURIGANA=
CONTACT_POSTAL_CODE=
CONTACT_ADDRESS=
CONTACT_PHONE=
EMAIL=example@example.com
GITHUB_URL=https://github.com/example
PORTFOLIO_URL=https://example.com
PHOTO_PATH=
HIGH_SCHOOL_NAME=サンプル高等学校
VOCATIONAL_SCHOOL_NAME=サンプル専門学校
COMPANY_ADLINE=株式会社サンプルA
COMPANY_IDEAIMAGE=株式会社サンプルB
COMPANY_80=株式会社サンプルC
COMPANY_ATOMS=株式会社サンプルD
CLIENT_KOSE=株式会社クライアントA
CLIENT_LEO_SOPHIA=株式会社クライアントB
CLIENT_GASENDO=有限会社クライアントC
CLIENT_AEON=株式会社クライアントD
CLIENT_KYOTO_SHIMBUN=株式会社クライアントE
